$breakpoint-desktop: 1024px;

/*************BODY AND ELEMENTS APPARITIONS*******************/
body {
    animation:sweet-link-transition 1s;
}

@keyframes sweet-link-transition {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.food-name-selection {
    animation-name: apparition;
    animation-delay:0s;
    animation-duration:1s;
    opacity:0;
    animation-fill-mode:forwards;
}

@keyframes apparition {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.food-name-selection-first {
    animation-delay:0.2s;
}

.food-name-selection-second {
    animation-delay: 0.4s;
}

.food-name-selection-third {
    animation-delay: 0.6s;
}

.food-name-selection-fourth {
    animation-delay:0.8s;
}


/**********BUTTONS******************************/
.button-exploration-and-command,
.button-command {
    transition:opacity 0.6s, box-shadow 0.6s;
    cursor:pointer;
    &:hover {
        opacity:0.7;
        box-shadow:2px 4px 6px rgba(0, 0, 0, 0.2);
    }
}

.article-cards,
.food-name-selection {
    transition:transform 0.2s;
    &:hover {
        transform:scale(1.025);
    }
    @media (min-width:$breakpoint-desktop) {
    transition:transform 0.2s;
    &:hover {
        transform:scale(1.1);
        cursor:pointer;
        }
    }
}

.div_functioning-order:hover i {
    color:#9356DC;
}

.div_restaurants-cards a {
    z-index:1;
}

/******************HEARTS*****************/

.fa-regular {
    z-index:3;
    cursor:pointer;
}

.fa-solid.fa-heart {
    opacity:0;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    background-image: linear-gradient(#FF79DA 30%, #9356DC);
    z-index:2;
}

@keyframes fillAnimation {
    0% {
        opacity:0;
        z-index:2;
    }
    50% {
        opacity:1;
        z-index:3;
    }
    100% {
        opacity:0;
        z-index:3;
    }
}

.all_icons_hearts:active .fa-solid.fa-heart {
    animation:fillAnimation 0.7s;
}

/*******************LOADER*******************/
.loader {
    animation:disappear 2s forwards;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#000000;
    width:100%;
    height:100%;
    z-index:6;
    position:fixed;
}

.first-stop {
    stop-color: #FF79DA;
    stop-opacity:1;
}

.second-stop {
    stop-color:#9356DC;
    stop-opacity:1;
}

$transition-duration:2s;
$path-length:157px;

svg {
    overflow:visible;
    width:100px;
    height:150px;
    
    g {
        animation: slide $transition-duration linear infinite;

        &:nth-child(2) {
            animation-delay: $transition-duration / 4;

            path {
                animation-delay: $transition-duration / 4;
                stroke-dasharray:0px $path-length + 1;
                stroke-dashoffset: 1px;   
            }
        }
    }
    path {
        stroke: url(#gradient);
        stroke-width:20px;
        stroke-linecap:round;
        fill:none;
        stroke-dasharray:0px $path-length;
        stroke-dashoffset: 0; 
        animation:escalade $transition-duration cubic-bezier(0.8, 0, 0.2, 1) infinite;
    }
}

@keyframes slide {
    0% {
        transform:translateY(-50px);
    }
    100% {
        transform:translateY(50px);
    }
}

@keyframes escalade {
    0% {
        stroke-dasharray:0px $path-length;
        stroke-dashoffset: 0; 
    }
    50% {
        stroke-dasharray:$path-length $path-length;
        stroke-dashoffset: 0;   
    }
    100% {
        stroke-dasharray:$path-length $path-length;
        stroke-dashoffset: -($path-length - 1); 
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    90% {
        opacity:1;
    }
    99% {
        z-index:6;
    }
    100% {
        opacity:0;
        display:none;
        z-index:-10;
    }
}

/***************CHECK-MENU**************/ 

.food-specificity {
    transition:width 0.3s ease-out, overflow 0.3s ease-out, text-overflow 0.3s ease-out;
}

.food-checked {
    position:absolute;
    top:0px;
    right:0;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    padding:19px 18px 23px 18px;
    font-size:25px;
    transition: right 0.3s ease-out;
}

.price {
    position:relative;
    transition: right 0.3s ease-out; 
}

/*****EACH, FOR and IF*****/

$checkbox-groups: starter, course, dessert;
$checkbox-count: 4;
$checkbox-states: checked, unchecked;

@each $group in $checkbox-groups {
    @for $i from 1 through $checkbox-count {
        @each $state in $checkbox-states {
            $selector: "#Checkbox-#{$group}-#{$i}:#{if($state == 'checked', ':checked', 'not(:checked)')} ~ label .food-checked";
            $right-value: if($state == 'checked', 0, -80px);

            #{$selector} {
                right: $right-value;
            }
        }
    }
}

@each $group in $checkbox-groups {
    @for $i from 1 through $checkbox-count {
        #{"#Checkbox-#{$group}-#{$i}"} {
            display:none;
        }
    }
}

.price {
    position:relative;
    right:0px;
    transition: right 0.3s ease-out;
}

@each $group in $checkbox-groups {
    @for $i from 1 through $checkbox-count {
            $checked-selector: "#Checkbox-#{$group}-#{$i}:checked ~ label .price";
            $unchecked-selector: "#Checkbox-#{$group}-#{$i}:not(:checked) ~ label .price";

            #{$checked-selector} {
                right: 65px;
            }
            #{$unchecked-selector} {
                right:0;
            }
        }
    }

.food-specificity {
    min-width:120px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    transition: width 0.4s ease-out;
}

@each $group in $checkbox-groups {
    @for $i from 1 through $checkbox-count {
        #{"#Checkbox-#{$group}-#{$i}:checked ~ label .food-specificity"} {
            width:170px;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    }
}

label .food-name-selection__title {
    display:block;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

@each $group in $checkbox-groups {
    @for $i from 1 through $checkbox-count {
        #{"#Checkbox-#{$group}-#{$i}:checked ~ label .food-name-selection__title"} {
            min-width:70px;
            max-width: 140px;
        }
    }
}