$breakpoint-desktop: 1440px;

/*************BODY AND ELEMENTS APPARITIONS*******************/
body {
    animation:sweet-link-transition 1s;
}

@keyframes sweet-link-transition {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.food-name-selection {
    animation-name: apparition;
    animation-delay:0s;
    animation-duration:1s;
    opacity:0;
    animation-fill-mode:forwards;
}

@keyframes apparition {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.food-name-selection-first {
    animation-delay:0.2s;
}

.food-name-selection-second {
    animation-delay: 0.4s;
}

.food-name-selection-third {
    animation-delay: 0.6s;
}

.food-name-selection-fourth {
    animation-delay:0.8s;
}


/**********BUTTONS******************************/
.button-exploration-and-command,
.button-command {
    transition:opacity 0.6s, box-shadow 0.6s;
    cursor:pointer;
    &:hover {
        opacity:0.7;
        box-shadow:2px 4px 6px rgba(0, 0, 0, 0.2);
    }
}

.div_functioning-order,
.article-cards,
.food-name-selection {
    transition:transform 0.2s;
    &:hover {
        transform:scale(1.025);
    }
    @media (min-width:$breakpoint-desktop) {
    transition:transform 0.2s;
    &:hover {
        transform:scale(1.1);
        cursor:pointer;
        }
    }
}

.div_functioning-order:hover i {
    color:#9747FF;
}

.div_restaurants-cards a {
    z-index:1;
}

i.fa-heart {
    z-index:3;
    i.fa-heart:active {
        background-clip: text;
        -webkit-background-clip: text;
        color: linear-gradient(rgb(219, 112, 223) 50%, #9747FF);
    }
}

/*.food-checked {
    position:absolute;
    left:310px;
    top:138px;
    font-size:20px;
    padding:22px 20px 23px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display:var(--fa-display,none);
    .fa-heart::before {
        font-weight:bold;
    }
}*/

/*******************LOADER*******************/
.loader {
    animation:disappear 3.5s forwards;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#000000;
    width:100%;
    height:100%;
    z-index:6;
    position:fixed;
}

.first-stop {
    stop-color: rgb(219, 112, 223);
    stop-opacity:1;
}

.second-stop {
    stop-color:#9747FF;
    stop-opacity:1;
}

$transition-duration:2s;
$path-length:157px;

svg {
    overflow:visible;
    width:100px;
    height:150px;
    
    g {
        animation: slide $transition-duration linear infinite;

        &:nth-child(2) {
            animation-delay: $transition-duration / 4;

            path {
                animation-delay: $transition-duration / 4;
                stroke-dasharray:0px $path-length + 1;
                stroke-dashoffset: 1px;   
            }
        }
    }
    path {
        stroke: url(#gradient);
        stroke-width:20px;
        stroke-linecap:round;
        fill:none;
        stroke-dasharray:0px $path-length;
        stroke-dashoffset: 0; 
        animation:escalade $transition-duration cubic-bezier(0.8, 0, 0.2, 1) infinite;
    }
}

@keyframes slide {
    0% {
        transform:translateY(-50px);
    }
    100% {
        transform:translateY(50px);
    }
}

@keyframes escalade {
    0% {
        stroke-dasharray:0px $path-length;
        stroke-dashoffset: 0; 
    }
    50% {
        stroke-dasharray:$path-length $path-length;
        stroke-dashoffset: 0;   
    }
    100% {
        stroke-dasharray:$path-length $path-length;
        stroke-dashoffset: -($path-length - 1); 
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    90% {
        opacity:1;
    }
    99% {
        z-index:6;
    }
    100% {
        opacity:0;
        display:none;
        z-index:-10;
    }
}

/***************CHECK-MENU**************/
/*.container_menu {
    width:85%;
    height:400px;
    margin-left:7.5%;
    display:flex;
    justify-content:center;
    background-color:rgb(247,247,247);
    z-index:3;
  }*/
  @media (min-width:$breakpoint-desktop) {
  .food-selection {
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  .food-name-selection {
    width:650px;
    height:43px;
    background-color:white;
    position:relative;
    top:50px;
    border-radius:20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    z-index:0;
  }
  
  .food-specificity-and-price {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

.food-checked {
    position:absolute;
    top:0px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    padding:19px 18px 20px 18px;
    font-size:25px;
    transition: left 0.3s ease-out;
}

#foodCheckbox:checked ~ label .food-checked {
    left:575px;
}

#foodCheckbox:not(:checked) ~ label .food-checked {
    left: 640px;
}

#foodCheckbox {
    display:none;
}

.price {
    position:relative;
    right:0px;
    transition: right 0.3s ease-out;
}

#foodCheckbox:checked ~ label .price {
    right:65px;
}

#foodCheckbox:not(:checked) ~ label .price {
    right:0px;
}
  }

/********mobile espèce de petite andouillette qui pue des pieds********/
.food-selection {
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  .food-name-selection {
    width:650px;
    height:43px;
    background-color:white;
    position:relative;
    top:50px;
    border-radius:20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    z-index:0;
  }
  
  .food-specificity-and-price {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

.food-checked {
    position:absolute;
    top:0px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    padding:19px 18px 20px 18px;
    font-size:25px;
    transition: left 0.3s ease-out;
}

#foodCheckbox:checked ~ label .food-checked {
    /*left:575px;*/
    left:83%;
}

#foodCheckbox:not(:checked) ~ label .food-checked {
    /*left: 640px;*/
    left:110%;
}

#foodCheckbox {
    display:none;
}

.price {
    position:relative;
    right:0px;
    transition: right 0.3s ease-out;
}

#foodCheckbox:checked ~ label .price {
    right:65px;
}

#foodCheckbox:not(:checked) ~ label .price {
    right:0px;
}

.food-checked:active .food-specificity {
    width:250px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    box-sizing:content-box;
}


/************FOOTER A**********/
.footer a {
    transition: brightness 0.3s;
    &:hover {
    filter:brightness(1.3);
    }
}