$breakpoint-desktop:1024px;

.header,
.section_location,
.section_menu-selection {
    display:flex;
    justify-content:center;
}

.section_menu-selection,
.section_functioning,
.section_restaurants,
.footer,
.footer_simple_link {
    display:flex;
    flex-direction:column;
}

.div_functioning-order {
    display:flex;
    flex-direction:row;
}

.section_location,
.section_menu-selection {
    align-items:center;
}

.section_menu-selection {
    text-align:center;
}

.header,
.section_location,
.div_functioning-order span,
.div_restaurants-cards .article-cards {
    position:relative;
}

.div_restaurants-cards .article__span_new,
.fa-heart,
.section-prestentation-restaurant {
    position:absolute;
}

.section-prestentation-restaurant {
    top:280px;
    @media (min-width:$breakpoint-desktop) {
        top:440px;
    }
}

.section-prestentation-restaurant--long-menu {
    top: 280px;
    @media (min-width:$breakpoint-desktop) {
        top:380px;
    }
}

.all_div_functioning-order,
.footer_2_icons_and_links,
.footer_simple_link,
.footer_all_links {
    @media (min-width:$breakpoint-desktop) {
        display:flex;
        flex-direction:row;
        }
    }
    
.footer {
    @media (min-width:$breakpoint-desktop) {
        flex-direction:row-reverse;
        }
    }
