.fa-arrow-left {
    padding-right:30px;
}

.cards {
    box-sizing:border-box;
}

.footer a,
.footer div {
    padding-bottom:8px;
}

.section_functioning,
.section_restaurants {
    padding-top:45px;
    padding-bottom:45px;
}

/************************/

$breakpoint-desktop:1024px;

@media (min-width:$breakpoint-desktop) {
    .header {
        padding-bottom:32px;
    }
    
    .header img {
        width:200px;
        height:auto;
        padding-top:30px;
    }

    .section_menu-selection {
        padding-top:28px;
        padding-bottom:30px;
    }

    .section_menu-selection h1 {
        font-size:40px;
        padding-bottom:30px;
    }
    
    .section_location {
        width: 18%;
        padding-left:42%;
        padding-right:40%;
    }

    .section_functioning {
        align-items:normal;
        width:74%;
        margin-left:13%;
        box-sizing:border-box;
        padding-top:48px;
        padding-bottom:30px;
    }

    .section_functioning h2 {
        height:30px;
        margin-bottom:0;
    }

    .all_div_functioning-order {
        display:flex;
        flex-direction:row;
    }

    .div_functioning-order {
        margin-top:0;
        margin-right:3%;
        margin-left:0;
        width:100%;
        padding-left:7px;
        padding-right:7px;
        padding-bottom:22px;
    }

    .div_functioning-order p {
        padding-left:27px;
    }

    .div_functioning-order span {
        right:20px;
    }

    .section_restaurants {
        padding-top:30px;
        padding-bottom: 13px;
        width:75%;
        padding-left:12.5%;
        padding-right:12.5%;
    }

    .restaurants-title {
        padding-bottom:27px;
    }
    
    .div_restaurants-cards {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        column-gap:100px;
        row-gap: 34px;
    }

    .div_restaurants-cards .cards {
        height:250px;
    }

    .div_restaurants-cards .span_new {
        left: 390px;
    }

    .fa-heart {
        left:440px;
    }

    .footer {
        padding-top:63px;
        padding-bottom:7px;
    }
    
    .footer-title {
        padding-left:90px;
        padding-right:65px;
    }

    .footer_2_icons_and_links {
        padding-right:25px;
    }

    .footer_icon_and_link {
        padding-right:5px;
    }

    .footer_simple_link {
        padding-left:15px;
    }
}