$breakpoint-desktop:1440px;

.header,
.section_location,
.section_menu-selection {
    display:flex;
    justify-content:center;
}

.section_menu-selection,
.section_functioning,
.section_restaurants,
.footer {
    display:flex;
    flex-direction:column;
}

.section_location,
.section_menu-selection,
.section_functioning {
    align-items:center;
}

.section_menu-selection {
    text-align:center;
}

.header,
.section_location,
.div_functioning-order span,
.div_restaurants-cards .cards {
    position:relative;
}

.div_restaurants-cards .span_new,
.fa-heart {
    position:absolute;
}

.section-prestentation-restaurant {
    position:absolute;
    top:280px;
}

.all_div_functioning-order {
    @media (min-width:$breakpoint-desktop) {
        display:flex;
        flex-direction:row;
    }
}

.footer_simple_link { 
    display:flex;
    flex-direction:column;
}

@media (min-width:$breakpoint-desktop) {

    .footer {
        flex-direction:row-reverse;
    }

    .footer_2_icons_and_links {
        display:flex;
        flex-direction:row;
    }
    
    .footer_all_links {
        display:flex;
        flex-direction:row;
    }
}