/***COLOR VALUES***/

$main-color:white;
$second-color: rgb(247,247,247);
$third-color: #353535;
$fourth-color:#9747FF;

$main-color-fa-icon: #7E7E7E;
$second-color-fa-icon:black;
$third-color-fa-icon:white;

$main-color-police:black;

$main-color-box-shadow:rgb(173, 173, 173);
$second-color-box-shadow:rgb(214, 214, 214);

$main-color-button:linear-gradient(rgb(219, 112, 223) 50%, #9747FF);

$main-color-span:#008766;
$second-color-span:#99E2D0;

/*COLORS*/
.button-exploration-and-command,
.div_functioning-order span,
.footer a,
.footer__h1,
.button-command,
.button-exploration-and-command a,
.food-checked {
    color: $main-color;
}

.section_menu-selection p {
    color:$third-color;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
    color: $main-color-fa-icon;
}

.fa-heart,
.fa-location-dot {
    color:$second-color-fa-icon;
}

.fa-utensils,
.fa-handshake-angle {
    color: $third-color-fa-icon;
}

.article-cards__content,
.fa-arrow-left {
    color:$main-color-police;
}

.div_restaurants-cards .article__span_new {
    color:$main-color-span;
}

/*BACKGROUND-COLOR*/

.article-cards {
    background-color:$main-color;
}

.section_menu-selection,
.div_functioning-order,
.section_restaurants {
    background-color: $second-color;
}

.footer {
    background-color: $third-color;
}

.div_functioning-order span {
    background-color:$fourth-color;
}

.button-exploration-and-command {
    background:$main-color-button;
}

.div_restaurants-cards .article__span_new,
.food-checked {
    background-color:$second-color-span;
}

.section_location {
    background-color:#EAEAEA;
}

.section-prestentation-restaurant {
    background-color:#F6F6F6;
}

/***FONT-STYLE***/
* {
    font-family: 'Roboto', sans-serif;
}

a,
.article-cards__content,
.button-exploration-and-command a,
.footer a {
  text-decoration: none;
}

.input-text {
    border:none;
    background-color:unset;
    font-size:16px;
    font-weight: 600;
}

.button-exploration-and-command {
    font-size:17px;
    border:none;
}

.article-cards__content p {
  font-weight:300;
}

/******BOX-SHADOW******/
.header {
    box-shadow: 0 0 0.4em $main-color-box-shadow;
}

.div_functioning-order {
    box-shadow:0px 5px 5px $second-color-box-shadow;
}

/***IMAGE STYLE***/

.article-cards img {
    object-fit:cover;
}

.section_menu-selection p {
    font-size:1.1em;
    font-weight:300;
}