* {
  margin: 0;
  padding: 0;
}

.fa-arrow-left {
  padding-right: 30px;
}

.cards {
  box-sizing: border-box;
  border-radius: 15px;
}

.footer a,
.footer div {
  padding-bottom: 8px;
}

.section_functioning,
.section_restaurants {
  padding-top: 45px;
  padding-bottom: 45px;
}

.header {
  padding-bottom: 13px;
  z-index: 2;
}
@media (min-width: 1440px) {
  .header {
    padding-bottom: 32px;
  }
}

.header img {
  padding-top: 20px;
  width: 160px;
  height: 30px;
}
@media (min-width: 1440px) {
  .header img {
    width: 200px;
    height: auto;
    padding-top: 30px;
  }
}

.section_menu-selection {
  padding-top: 40px;
  padding-bottom: 50px;
}
@media (min-width: 1440px) {
  .section_menu-selection {
    padding-top: 28px;
    padding-bottom: 30px;
  }
}

.section_menu-selection h1 {
  width: 63%;
  font-size: 23px;
  padding-bottom: 15px;
}
@media (min-width: 1440px) {
  .section_menu-selection h1 {
    font-size: 40px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .section_location {
    width: 18%;
    padding-left: 42%;
    padding-right: 40%;
  }
}

.section_functioning {
  width: 86.5%;
  margin-left: 8%;
  margin-right: 5.5%;
}
@media (min-width: 1440px) {
  .section_functioning {
    align-items: normal;
    width: 74.5%;
    margin-left: 13.5%;
    box-sizing: border-box;
    padding-top: 48px;
    padding-bottom: 30px;
  }
}

.restaurants-title {
  width: 90%;
  padding-bottom: 25px;
}

.h2_card-title {
  font-size: 18px;
  padding-bottom: 5px;
}

.section_functioning h2 {
  width: 90%;
  padding-bottom: 25px;
}
@media (min-width: 1440px) {
  .section_functioning h2 {
    height: 30px;
    margin-bottom: 0;
  }
}

.div_functioning-order {
  padding: 35px 77px 20px 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .div_functioning-order {
    margin-top: 0;
    margin-right: 3.5%;
    margin-left: 0;
    width: 290px;
    padding: 35px 55px 20px 12px;
  }
}

.div_functioning-order p {
  padding-left: 20px;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .div_functioning-order p {
    padding-left: 27px;
  }
}

.div_functioning-order span {
  border-radius: 100px;
  padding: 4px 8px 2px 8px;
  right: 23px;
  font-size: 14px;
}
@media (min-width: 1440px) {
  .div_functioning-order span {
    right: 20px;
  }
}

.section_restaurants {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 1440px) {
  .section_restaurants {
    padding-top: 30px;
    padding-bottom: 13px;
    width: 75%;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

@media (min-width: 1440px) {
  .restaurants-title {
    padding-bottom: 27px;
  }
}

@media (min-width: 1440px) {
  .div_restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 34px;
  }
}

.div_restaurants-cards .cards {
  margin-bottom: 17px;
  height: 255px;
}
@media (min-width: 1440px) {
  .div_restaurants-cards .cards {
    height: 250px;
  }
}

.div_card-content {
  padding-top: 10px;
  padding-left: 13px;
}

.div_restaurants-cards .span_new {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 13px 5px 13px;
  left: 245px;
  bottom: 210px;
}
@media (min-width: 1440px) {
  .div_restaurants-cards .span_new {
    left: 390px;
  }
}

.fa-heart {
  left: 300px;
  bottom: 50px;
}
@media (min-width: 1440px) {
  .fa-heart {
    left: 440px;
  }
}

i.fa-regular.fa-heart.fa-lg {
  font-weight: 300;
}

.footer {
  padding: 20px 0px 0px 25px;
}
@media (min-width: 1440px) {
  .footer {
    padding-top: 63px;
    padding-bottom: 7px;
  }
}

.footer-title {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 17px;
}
@media (min-width: 1440px) {
  .footer-title {
    padding-left: 90px;
    padding-right: 85px;
  }
}

.footer_2_icons_and_links {
  padding-right: 25px;
  height: 47px;
}

.footer_icon_and_link {
  padding-right: 5px;
}

.footer_simple_link {
  padding-left: 15px;
}/*# sourceMappingURL=dimensions-and-spacing.css.map */