/***GENERAL***/

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

/***FLEX CENTER STRUCTURES***/

.header,
.location,
.top-page-menu-selection {
    display:flex;
    justify-content:center;
}

.cards {
    box-sizing:border-box;
    background-color:white;
    border-radius:15px;
}

.cards img {
    object-fit:cover;
}

.card-content {
    padding-left:13px;
}

.card-content h2 {
    font-size:18px;
}

.card-content p {
    font-weight:300;
}

.header {
    padding-bottom:13px;
}

header img {
    margin-top:20px;
    width:160px;
    height:30px;
}

.location {
    align-items:center;
    width:50%;
    padding-left:25%;
    padding-right:25%;
    background-color:#EAEAEA;
}

.input-text {
    border:none;
    background-color:unset;
    font-size:16px;
    font-weight: 600;
    margin:15px 0px 15px 17px;
}

#place {
    width:60%;
}

.top-page-menu-selection {
    flex-direction:column;
    align-items: center;
    text-align:center;
    padding-top:40px;
    padding-bottom:50px;
    background-color: rgb(247, 247, 247);
}

.top-page-menu-selection h1 {
   width:70%;
   padding-bottom:15px;
}

.top-page-menu-selection p {
    width:85%;
    font-size:1.1em;
    font-weight:300;
    padding-bottom:30px;
    color: #353535;
}

.button-exploration-and-command {
    color:white;
    font-size:17px;
    background:linear-gradient(rgb(219, 112, 223) 50%, #9747FF);
    padding:15px 20px 15px 20px;
    border-radius:40px;
    border:none;
}

.functioning {
    padding-top:45px;
    padding-bottom:45px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.functioning-order {
    display:flex;
    flex-direction:row;
    width:75%;
    margin-left:14%;
    margin-right:11%;
    padding:30px 20px 25px 20px;
    background-color:rgb(247, 247, 247);
    border-radius:20px;
    margin-bottom:20px;
    box-shadow:0px 5px 5px rgb(214, 214, 214);
}

.functioning h1,
.restaurants h1 {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:25px;
}

.functioning-order p {
    padding-left:20px;
}

.functioning-order span {
    color:white;
    background-color:#9747FF;
    border-radius:100px;
    padding:4px 8px 2px 8px;
    position:relative;
    right:32px;
    font-size:14px;
}

.restaurants {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(247, 247, 247);
    padding-top:45px;
    width:100%;
    padding-bottom:45px;
}

.restaurants-cards .cards {
  margin-bottom:17px;
  height:240px;
  box-sizing:border-box;
}

.restaurants-cards img {
    width:100%;
    height:170px;
    max-height:100%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.restaurants-cards .new {
    color:#008766;
    background-color:#99E2D0;
    font-size:14px;
    font-weight: 500;
    padding:5px 13px 5px 13px;
    position:relative;
    left:250px;
    bottom:160px;
}

.fa-heart {
    position:relative;
    left: 300px;
    bottom:40px;
}

.footer {
    background-color: #353535;
    padding:25px 0px 25px 25px;
    display:flex;
    flex-direction:column;
}

.footer a {
    text-decoration:none;
    color:white;
    padding-bottom:8px;
}

.footer div {
    padding-bottom: 8px;
}

.footer-title {
    color:white;
    font-family: 'Shrikhand', serif;
    font-size:18px;
    font-weight:300;
    margin-bottom:17px;
}