/***GENERAL***/

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.cards {
    background-color:white;
    border-radius:15px;
}

a {
    text-decoration: none;
}

.cards img {
    object-fit:cover;
}

.div_card-content {
    padding-top:10px;
    padding-left:13px;
    text-decoration: none;
    color:black;
}

.h2_card-title {
    font-size:18px;
    padding-bottom:5px;
}

.div_card-content p {
    font-weight:300;
}

.header {
    box-shadow: 0 0 0.4em rgb(173, 173, 173);
}

.section_location {
    width:50%;
    padding-left:25%;
    padding-right:25%;
    background-color:#EAEAEA;
    z-index:1;
}

.input-text {
    border:none;
    background-color:unset;
    font-size:16px;
    font-weight: 600;
    margin:15px 0px 15px 17px;
}

#place {
    width:60%;
}

.section_menu-selection p {
    width:85%;
    font-size:1.1em;
    font-weight:300;
    padding-bottom:30px;
}

.button-exploration-and-command {
    font-size:17px;
    background:linear-gradient(rgb(219, 112, 223) 50%, #9747FF);
    padding:15px 20px 15px 20px;
    border-radius:40px;
    border:none;
}

.button-exploration-and-command a {
    color:white;
    text-decoration:none;
}

.div_functioning-order {
    display:flex;
    flex-direction:row;
    box-shadow:0px 5px 5px rgb(214, 214, 214);
}

.div_functioning-order span {
    background-color:#9747FF;
}

.div_restaurants-cards img {
    width:100%;
    height:175px;
    max-height:100%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.div_restaurants-cards .span_new {
    color:#008766;
    background-color:#99E2D0;
}

.footer a {
    text-decoration:none;
}

.footer_icon_and_link a {
    padding-left:7px;
}