/***GENERAL***/

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.cards {
    background-color:white;
    border-radius:15px;
}

a {
    text-decoration: none;
}

.cards img {
    object-fit:cover;
}

.div_card-content {
    padding-top:10px;
    padding-left:13px;
    text-decoration: none;
    color:black;
}

.h2_card-title {
    font-size:18px;
    padding-bottom:5px;
}

.div_card-content p {
    font-weight:300;
}

.header {
    padding-bottom:13px;
    box-shadow: 0 0 0.4em rgb(173, 173, 173);
    z-index:2;
}

header img {
    margin-top:20px;
    width:160px;
    height:30px;
}

.section_location {
    width:50%;
    padding-left:25%;
    padding-right:25%;
    background-color:#EAEAEA;
    z-index:1;
}

.input-text {
    border:none;
    background-color:unset;
    font-size:16px;
    font-weight: 600;
    margin:15px 0px 15px 17px;
}

#place {
    width:60%;
}

.section_menu-selection {
    text-align:center;
    padding-top:40px;
    padding-bottom:50px;
}

.section_menu-selection h1 {
   width:70%;
   padding-bottom:15px;
}

.section_menu-selection p {
    width:85%;
    font-size:1.1em;
    font-weight:300;
    padding-bottom:30px;
}

.button-exploration-and-command {
    font-size:17px;
    background:linear-gradient(rgb(219, 112, 223) 50%, #9747FF);
    padding:15px 20px 15px 20px;
    border-radius:40px;
    border:none;
}

.button-exploration-and-command a {
    color:white;
    text-decoration:none;
}

.section_functioning {
    width: 85%;
    margin-left:9%;
    margin-right:6%;
}

.div_functioning-order {
    display:flex;
    flex-direction:row;
    padding:30px 20px 25px 20px;
    border-radius:20px;
    margin-bottom:20px;
    box-shadow:0px 5px 5px rgb(214, 214, 214);
}

.section_functioning h1,
.section_restaurants h1 {
    width:90%;
    margin-bottom:25px;
}

.div_functioning-order p {
    padding-left:20px;
    font-weight:500;
}

.div_functioning-order span {
    background-color:#9747FF;
    border-radius:100px;
    padding:4px 8px 2px 8px;
    right:32px;
    font-size:14px;
}

.section_restaurants {
    width:90%;
    padding-left:5%;
    padding-right:5%;
}

.div_restaurants-cards .cards {
  margin-bottom:17px;
  height:255px;
}

.div_restaurants-cards img {
    width:100%;
    height:175px;
    max-height:100%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.div_restaurants-cards .span_new {
    color:#008766;
    background-color:#99E2D0;
    font-size:14px;
    font-weight: 500;
    padding:5px 13px 5px 13px;
    left:245px;
    bottom:210px;
}

.fa-heart {
    left: 300px;
    bottom:50px;
}

.footer {
    padding:25px 0px 15px 25px;
}

.footer a {
    text-decoration:none;
}

.footer-title {
    font-family: 'Shrikhand', serif;
    font-size:18px;
    font-weight:300;
    margin-bottom:17px;
}

.footer_icon_and_link a {
    padding-left:7px;
}